*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
#testCanvas {
    background-color: white;
    margin:1%;
}
body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(74, 74, 74);
}
h1{
    color: white;
}

#designButtons-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 20px 0;
}

#circle-container{
    display: flex;
    flex-direction: column;
}

#circle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#rectangle-container{
    display: flex;
    flex-direction: column;
}

#rectangle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}


#triangle-container{
    display: flex;
    flex-direction: column;
}

#triangle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#undoButton{
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    height: 65%;
    border-radius: 10px;
}

#clearButton{
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    height: 65%;
    border-radius: 10px;
}

input[type=range]{
    margin-top: 10px;
}

#circle-container button:hover, #rectangle-container button:hover,
 #triangle-container button:hover, #clearButton:hover, 
 #undoButton:hover{
    color: black;
    background-color: white;
 }