*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
}
#testCanvas {
    background-color: white;
    margin:1%;
}
body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(74, 74, 74);
}
h1{
    color: white;
}

#designButtons-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 20px 0;
}

#circle-container{
    display: flex;
    flex-direction: column;
}

#circle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#rectangle-container{
    display: flex;
    flex-direction: column;
}

#rectangle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}


#triangle-container{
    display: flex;
    flex-direction: column;
}

#triangle-container button{
    width: 100%;
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#undoButton{
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    height: 43%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#clearButton{
    font-size: 30px;
    background-color: rgb(74, 74, 74);
    box-shadow: none;
    color: white;
    padding: 0 10px;
    border: 1px solid white;
    height: 43%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

input[type=range]{
    margin-top: 10px;
}

#circle-container button:hover, #rectangle-container button:hover,
 #triangle-container button:hover, #clearButton:hover, 
 #undoButton:hover{
    color: black;
    background-color: white;
 }

#rectangle-color, #triangle-color, #circle-color{
     width: 100%;
     margin-top: 10px;
}
.scale-container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: white;
}
.scale-container > input{
    -webkit-appearance: none;
    background: #f7b801;
    height: 10px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 5px;

}
.scale-container >input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 10px;
}